@import "colors";
@import "sizes";

#title-menu {
  display: none;
  position: absolute;
  width: 300px;
  top: 50px;
  background: @green;

  > .header-menu{
    display: flex;
    flex-direction: column;

    .button-menu {
      font-size: 18px;
      background: @green;
      width: 100%;
      height: 100%;
      color: white;
      margin: 0;
      border: 0;
      outline: none;
      transition: 0.2s;
    }

    .button-menu:hover {
      background: @hover;
      transition: 0.2s;
    }
  }
}

.button-admin{
  width: 150px;
  height: 30px;
}

.text-admin{
  width: 150px;
  height: 30px;
}

.select-admin{
  width: 150px;
  height: 30px;
}

.content-block{
  margin: 5px;
  border-bottom: 2px solid @green;
}

.title{
  font-size: @font-larger;
}

.div-relative{
  position: relative;
}


#user-actions-inputs{
  display: flex;
  flex-direction: column;
  > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
  }

  #user-action-help{
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    img{
      height: 30px;
      width: 30px;
    }
  }

  #user-action-switch{
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    img{
      height: 30px;
      width: 30px;
    }
  }

  #user-help{
    display: none;
  }

  #user-error{
    font-size: @font-smaller;
    color: red;
    display: none;
    margin: 0 !important;
  }
}

#user-statistic{
  display: none;
  margin: 5px;
  border-bottom: 2px solid @green;
  > div:nth-child(2){
    display: flex;
    flex-direction: row;
  }

  #user-statistic-actions{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    > div{
      width: 100%;
      margin: 5px 0;
    }
    input {
      width: 100%;
    }
  }

  #user-statistic-results{
    flex-grow: 1;
    margin-left: 5px;
    table{
      width: 100%;
      tr {
        width: 100%;
        th{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
        }
        td{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
          text-align: center;
        }
      }
    }
  }

  #user-statistic-error{
    display: none;
    color: red;
    text-align: center;
    font-size: @font-smaller;
    margin: 5px 0;
  }
}

#account-statistic{
  display: none;
  //flex-direction: column;
  margin: 5px;
  border-bottom: 2px solid @green;
  > div:nth-child(2){
    display: flex;
    flex-direction: row;
  }

  #account-statistic-actions{
    //flex-grow: 1;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    > div{
      width: 100%;
      margin: 5px 0;
    }
    input {
      width: 100%;
    }
  }

  #account-statistic-results{
    flex-grow: 1;
    margin-left: 5px;
    table{
      width: 100%;
      tr {
        width: 100%;
        th{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
        }
        td{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
          text-align: center;
        }
      }
    }
  }

  #account-statistic-error{
    display: none;
    color: red;
    text-align: center;
    font-size: @font-smaller;
    margin: 5px 0;
  }
}

#partition-statistic{
  display: none;
  //flex-direction: column;
  margin: 5px;
  border-bottom: 2px solid @green;
  > div:nth-child(2){
    display: flex;
    flex-direction: row;
  }

  #partition-statistic-actions{
    //flex-grow: 1;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    > div{
      width: 100%;
      margin: 5px 0;
    }
    input {
      width: 100%;
    }
  }

  #partition-statistic-results{
    flex-grow: 1;
    margin-left: 5px;
    table{
      width: 100%;
      tr {
        width: 100%;
        th{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
        }
        td{
          width: 25%;
          height: 30px;
          border-bottom: solid 2px @green;
          text-align: center;
        }
      }
    }
  }

  #partition-statistic-error{
    display: none;
    color: red;
    text-align: center;
    font-size: @font-smaller;
    margin: 5px 0;
  }
}

#sum-table{
  table{
    width: 100%;
    text-align: center;
    tr{
      width: 100%;
      th{
        width: 20%;
        border-bottom: @green 2px solid;
      }
      th:last-child{
        width: 30px;
      }
      td{
        width: 20%;
        border-bottom: @green 2px solid;
      }
      td:last-child{
        width: 30px;
      }
    }
  }
}