@import "colors";
@import "sizes";

* {
  //border: red solid 1px;
  //box-sizing: border-box;
  //font-size: 1.1em;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: @body-background;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, "Times New Roman", Times, serif;
  font-size: @font;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
}

head {
  background: @green;
}

input {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

.button-all {
  font-size: @font;
  background: @green;
  background: @green;
  color: white;
  margin: 0 5px;
  border: 0;
  outline: none;
  transition: 0.2s;
}

.button-all:hover {
  background: @hover;
  transition: 0.2s;
}

.button-all:disabled {
  background: @green;
  opacity: 0.3;
  transition: 0.2s;
}

.button-all::-moz-focus-inner {
  border: 0;
}

.text-all {
  font-size: @font;
  color: black;
  margin: 0 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: @green solid 2px;
  background: transparent;
  transition: 0.2s;
}

//::-webkit-input-placeholder {color:@green;}
//::-moz-placeholder          {color:@green;}/* Firefox 19+ */
//:-moz-placeholder           {color:@green;}/* Firefox 18- */
//:-ms-input-placeholder      {color:@green;}

.text-all:hover {
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.text-all:focus {
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.select-all {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_down_black_54x54.png") no-repeat 100% 50%;
  background-size: 30px 30px;
  font-size: @font;
  color: black;
  margin: 0 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: @green solid 2px;
  transition: 0.2s;
}

.select-all:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_left_black_54x54.png") no-repeat 100% 50%;
  background-size: 30px 30px;
  font-size: @font;
  color: black;
  margin: 0 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.select-all:focus {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  //noinspection CssUnknownTarget
  background: url("/static/img/keyboard_arrow_up_black_54x54.png") no-repeat right;
  background-size: 30px 30px;
  font-size: @font;
  color: black;
  margin: 0 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.button-header {
  font-size: 18px;
  background: @green;
  min-width: 150px;
  height: 100%;
  color: white;
  margin: 0;
  border: 0;
  outline: none;
  transition: 0.2s;
}

.button-header::-moz-focus-inner {
  border: 0;
}

.button-header:hover {
  background: @hover;
  transition: 0.2s;
}

.text-header {
  font-size: @font;
  color: white;
  margin: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: @hover solid 2px;
  background: transparent;
  transition: 0.2s;
}

.button-login {
  font-size: @font;
  //background: @blue;
  background: #26832D;
  color: white;
  margin: 5px 0;
  width: 100%;
  height: 30px;
  border: 0;
  outline: none;
  transition: 0.2s;
}

.button-login:hover {
  background: @hover;
}

.button-login::-moz-focus-inner {
  border: 0;
}

.text-login {
  font-size: @font;
  color: white;
  margin: 5px 0;
  width: 100%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  //border-bottom: @blue solid 2px;
  border-bottom: #26832D solid 2px;
  background: transparent;
  transition: 0.2s;
}

.text-login:hover {
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.text-login:focus {
  border-bottom: @hover solid 2px;
  transition: 0.2s;
}

.left-space {
  flex-grow: 1;
}

.right-space {
  flex-grow: 1;
}

#header {
  color: white;
  background: @header;
  height: 50px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  font-size: @font-larger;
  font-weight: bold;

  #header-data {
    width: @base-width;
    display: flex;
    flex-direction: row;

    #title {
      height: 50px;
      width: 300px;
      display: flex;
      align-items: center;

      > div {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #menu {
        width: 50px;
        height: 50px;
        margin: 0 5px 0 0;
        position: relative;

        .line {
          width: 100%;
          position: absolute;
        }
        #line1 {
          height: 7px;
        }
        #line2 {
          height: 6px;
          top: 7px;
          background: white;
        }
        #line3 {
          height: 9px;
          top: 13px;
        }
        #line4 {
          height: 6px;
          top: 22px;
          background: white;
        }
        #line5 {
          height: 9px;
          top: 28px;
        }
        #line6 {
          height: 6px;
          top: 37px;
          background: white;
        }
        #line7 {
          height: 7px;
          top: 43px;
        }
      }

      #menu:hover #title-menu {
        display: block;
      }
    }
  }

  #head-space {
    flex-grow: 1;
  }

  #login {
    width: 300px;
    min-height: 50px;

    #login-reserve {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .login-form {
      display: none;
      background: @header;
      //min-height: 120px;
      font-size: @font;
      font-weight: normal;
      input {
        font-size: @font;
        font-weight: normal;
      }
      > div {
        padding: 5px;
        display: flex;
        flex-direction: column;
        #login-err-h {
          display: none;
          margin-top: 10px;
          font-size: @font-smaller;
        }
      }
    }
  }
}

#main {
  color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  #main-data {
    background: @wrapper;
    width: @base-width;
    display: flex;
    flex-direction: column;
  }
}

#footer {
  z-index: 1000;
  background: @header;
  flex-basis: 20px;
  display: flex;
  flex-direction: row;
  color: #229b2a;

  #footer-data {
    width: @base-width;

    #lang {
      position: relative;
      color: white;
      width: 100px;
      cursor: pointer;
      #lang-menu {
        display: none;
        position: absolute;
        background: @green;
        width: 100px;
        height: 40px;
        margin: 0;
        padding: 0;
        top: -40px;
        > div {
          height: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    #lang:hover #lang-menu {
      display: block;
      > div:hover {
        background: @light-green;
      }
    }
  }
}