@green: #1B5E20;
@light-green: #8BC34A;
@indigo: #3F51B5;
@blue: #2196F3;
@orange: #FF9800;
@deep-orange: #BF360C;
@grey:#CCCCCC;
@light-gray: #E5E5E5;

@header: @green;
@body-background: @light-gray;
@wrapper: @grey;
@hover: @light-green;

//@button-hover: #4063e6;
//@button-orange: #225B77;