@import "colors";
@import "sizes";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: @body-background;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, "Times New Roman", Times, serif;
  font-size: @font;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
}

input {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

.left-space {
  flex-grow: 1;
}

.right-space {
  flex-grow: 1;
}

#header {
  color: white;
  background: @deep-orange;
  height: 50px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  font-size: @font-larger;
  font-weight: bold;

  #header-data {
    width: @base-width;
    display: flex;
    flex-direction: row;
    font-size: 50px;

    #title {
      height: 50px;
      //width: 300px;
      display: flex;
      align-items: center;

      > div {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  #head-space {
    flex-grow: 1;
  }
}

#main {
  color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  #main-data {
    background: @wrapper;
    width: @base-width;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div{
    font-size: 30px;
  }
}